[alias]
	logx = log --decorate --graph --color --stat --find-renames=90 --find-copies=90
	logxp = log --decorate --graph --color --stat --find-renames=90 --find-copies=90 -p
	logxs = log --oneline --decorate --graph --color --branches --remotes --tags
	logxa = log --pretty=short --decorate --graph --color --branches --remotes --tags
	rpull = pull --rebase
	amend = commit --amend
	co = checkout
	st = status
	hours = log --date-order --pretty=format:'%Cgreen%ad:%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%a, %0e %b %Y %l:%M %p'
[color]
	ui = true
[user]
[user]
	name = David Hartunian
	initials = dh
	email = david@positiondev.com
[core]
	editor = emacsclient -t
	excludesfile = /Users/david/.gitignore_global
	autocrlf = false
[hub]
	protocol = https
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/david/.stCommitMsg
